.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border: 1px solid navy;
  padding: 0.2rem;
}

.logo {
  width: 5rem;
  height: auto;
}

.searchTop {
  width: 93%;
}

.searchArea {
  width: 100%;
  background: green;
}

.searchArea input {
  width: 93%;
  padding: 0.4rem;
}

.navArea {
  justify-content: flex-end;

}

.menu {
  position: relative;
  display: inline-block;
}

.menu-btn {
  background-color: #3498db;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;

  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.dropdown a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}